extends ./layout

block title
	title Product Catalog

block header
	.h3 Product Catalog
	hr
block content
	p This is a product catalog site that gives feedback on different products based on the user comments mentioned on the products