html
	head
		block title
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel = "stylesheet", href = "/scripts/css/bootstrap.min.css", type = "text/css")

	body
		.container-fluid.text-center
			block header
			block content
	script(src = "/js/jquery.min.js")
	script(src = "/scripts/js/bootstrap.min.js")
