body{

	background-image: url("/local/images/background.jpg");
	color: #ffffff;
}

form#addnewproduct {

	border: solid 1px #cccccc;
	border-radius: 4px;
	padding-top: 25px;
	padding-bottom: 25px;
}

.form-group {

	padding-left: 25px;
	padding-right: 25px;
}

form#addnewproduct .alert-success, form#addnewproduct .alert-warning {

	margin: 20px;
}

.view-products {

	border: solid 1px #cccccc;
	border-radius: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 20px;
	color: #ffffff;
}

.col-lg-3 a {

	text-decoration: none;
}

.comments {

	position: relative;
	width: inherit;
}